<button><a href="/">Home</a></button>
<button><a href="/finance">Finance</a></button>
<button><a href="/movies">Movies</a></button>
<button><a href="/series">Series</a></button>
<button><a href="/games">Games</a></button>
<hr>