<div class="navbar">
    <div class="navlogo">
        <p>LifeLedger</p>
    </div>
    <div class="navitems">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/finance">Finance</a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/series">Series</a></li>
            <li><a href="/games">Games</a></li>
        </ul>
        <button><a href="/">Signup</a></button>
        <button><a href="/">Login</a></button>
    </div>
</div>
<hr>